/* 
   -------------------------------------------
   ---- Hecho con <3 por Antonio Richaud c: --
   ------------------------------------------- 
*/
@charset 'UTF-8';

:root {
  /* Configuracion fuentes */
  --f_fontSize: 16px;
  --f_lineHeight: 1.5;
  --f_fontWeight: 400;
  --f_fontFamily: "Manrope", sans-serif;

  /* Paleta de colores */
  --c_white: #fff;
  --c_black: #000;
  --c_orange500: #f6c356;
  --c_green500: #aaec8a;
  --c_blue500: #99c2fe;
  --c_purple500: #b881ff;
  --c_pink500: #f7e1d7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  border: 1px solid red;
}

html {
  font-size: var(--f_fontWeight);
  line-height: var(--f_lineHeight);
  font-weight: var(--f_fontWeight);
  font-family: var(--f_fontFamily);
}

.Body {
  display: grid;
  grid-template-rows: 20vh 55vh 25vh;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;

  font-size: clamp(100%, 1rem + 1.5vw, 25px);
}

/* Comienzo <Header> */
.Header {
  grid-column: 1 / 13;
  grid-row: 1 / 2;

  width: 100%;

  display: flex;
  flex-flow: column;
  place-content: center center;

  text-align: center;
  background-color: var(--c_orange500);
}

.Header .navbar {
  width: 100%;
  height: 50%;

  text-align: center;
  background-color: var(--c_green500);
}

/* Comienzo <SidebarLeft> */
.SidebarLeft {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  text-align: center;
  background-color: var(--c_blue500);
}

/* Comienzo <Main> */
.Main {
  grid-column: 4 / 10;
  grid-row: 2 / 3;

  display: flex;
  flex-flow: column;
  place-content: center center;

  text-align: center;
  background-color: var(--c_purple500);
}

/* Comienzo <SidebarRight> */
.SidebarRight {
  grid-column: 10 / 13;
  grid-row: 2 / 3;

  text-align: center;
  background-color: #99c2fe;
}

/* Comienzo <Footer> */
.Footer {
  grid-column: 1 / 13;
  grid-row: 3 / 4;

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  place-content: center center;

  text-align: center;
  background-color: var(--c_pink500);
}

/* Media Queries ==> SM : 480px */
@media screen and (max-width: 480px) {
  .Body {
    grid-template-rows: 10vh repeat(2, 5vh) 70vh 10vh;
    grid-template-columns: repeat(4, 1fr);
  }

  .Header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  .SidebarLeft {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .SidebarRight {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .Main {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }

  .Footer {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }
}
