/* 
   -------------------------------------------
   ---- Hecho con <3 por Antonio Richaud c: --
   ------------------------------------------- 
*/
@charset 'UTF-8';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  border: 1px solid red;
}

html {
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  height: 100%;
}

.Body {
  display: grid;
  grid-template-rows: 20vh 55vh 25vh;
  grid-template-columns: 20% auto 20%;
  font-size: 1.5rem;
}

/* Comienzo <Header> */
.Header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  width: 100%;

  display: flex;
  flex-flow: column;

  text-align: center;
  background-color: #f6c356;
}

.Header .navbar {
  width: 100%;
  height: 50%;

  text-align: center;

  background-color: #aaec8a;
}

/* Comienzo <SidebarLeft> */
.SidebarLeft {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  text-align: center;
  background-color: #99c2fe;
}

/* Comienzo <Main> */
.Main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-flow: column;
  place-content: center center;

  text-align: center;
  background-color: #b881ff;
}

/* Comienzo <SidebarRight> */
.SidebarRight {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  text-align: center;
  background-color: #99c2fe;
}

/* Comienzo <Footer> */
.Footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  place-content: center center;

  text-align: center;
  background-color: #f7e1d7;
}

/* Media Queries ==> SM : 480px */
@media screen and (max-width: 480px) {
  .Body {
    grid-template-rows: 10vh repeat(2, 5vh) 70vh 10vh;
    grid-template-columns: repeat(4, 1fr);
  }

  .Header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  .SidebarLeft {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .SidebarRight {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .Main {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }

  .Footer {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }
}

